body{
    background-color: #232323 !important; 
    background-image: url('/public/images/girl-3253532_1920.jpg') !important;
    background-blend-mode:luminosity;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
}
.logo-company{
    width: 250px !important;
}
.logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.companyLogo{
    width: 300px !important;
}
.btn-main{
    background-color: #FF6B00 !important;
}
.row{
    display: flex;
    justify-content: right;
}
.card-form{
    background-color: #2323237c !important;
    backdrop-filter: blur(10px);
}
.form-row{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.form-wrapper{
    width: 35%;
    min-width: 350px;
}
.form-body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.fullname-wrapper{
    display: flex;
    width: 100%;
}
.row > *{
    padding: unset !important;
}
.form-check{
    display: flex;
    justify-content: right !important;
}
.container-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
@media screen and (max-width: 767.11px) {
    .fullname-wrapper{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 850px) {
    .logo-wrapper{
        display: none;
    }
}