.primary-color{
    color: #FF6B00;
}
.primary-background{
    background-color: #FF6B00;
}

.navbar{
    background: #ffffff0a;
    position: fixed;
    width: 100%;
    padding: 15px 10px;
    z-index: 2;
    transition: 0.3s;
}
.nav-scroll{
    background-color: #232323;
}
.main-btn{
    background-color: #FF6B00;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-link{
    color: white;
}
.brand-name{
    color: white;
    font-size: 40px;
}

#home{
    background: url('/public/images/headerbackground.png') center center/cover no-repeat; /* Zmien 'sciezka/do/tla.jpg' na ścieżkę do Twojego obrazu */
    /* background-size: cover; */
    color: white; /* Kolor tekstu na tle obrazu */
    text-align: center;
    padding: 100px 0; /* Dodatkowy padding dla lepszego wyglądu */
    min-height: 100vh;
}
.main-title{
    font-size: 82px;
}
.inner-main-text{
    color: #FF6B00;
}
.sign-up-btn{
    border-radius: unset;
    font-size: 32px;
    padding: 10px 40px;
    color: white;
}
.sign-up-btn:hover{
    background-color: #FF6B00;
    color: #232323;
}

#offert{
    display: grid;
    grid-template-columns: auto auto auto;
}
.card-row{
    display: flex;
}
.card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
    position: relative;
    background-color: #1E1E1E;
}
.read-more-btn{
    background-color: #FF6B00;
    font-size: 20px;
    padding: 5px 35px;
    border-radius: unset;
    color: white;
}
.read-more-btn:hover{
    background-color: #FF6B00;
}
.FontAwesomeIcon{
    color: white;
    font-size: 64px;
}
.card-background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
}
.card-photo{
    width: 100%;
    height: 100%;
    filter: brightness(30%);
}
.card-wrapper:hover .card-background{
    opacity: 100%;
}
.bg-gym, .bg-fitness, .bg-squash,
.bg-cycling, .bg-relax, .bg-health{
    background-size: cover;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s;
    filter: brightness(35%);
}
.bg-gym{
    background-image: url('/public/images/fitness-3502830_1280.jpg');
}
.bg-fitness{
    background-image: url('/public/images/kettlebell-3293475_1280.jpg');
}
.bg-squash{
    background-image: url('/public/images/16v2r0t250t0R1I6G5V0F4C653f3m536.jpg');
}
.bg-cycling{
    background-image: url('/public/images/indoor-cycling.jpg');
}
.bg-relax{
    background-image: url('/public/images/c2977f93f7937b51fb95d49c92272ff9086b39cd.jpeg');
}
.bg-health{
    background-image: url('/public/images/masaz-relaksacyjny-u-fizjoterapeuty.jpeg');
}
.card-wrapper:hover .card-bg{
    opacity: 100;
}

#signin{
    background-image: url('/public/images/image\ 2.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding: 45px 60px;
}
.offert-text{
    font-size: 64px;
    color: white;
}
.pass-wrapper{
    background-color: #0000008d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    padding: 30px 0;
    backdrop-filter: blur(5px);
}
.pass-title{
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    color: white;
}
.pass-inner-title{
    color: #FF6B00;
}
.pass-price{
    font-size: 48px;
    font-weight: 600;
    color: white;
}
.pass-inner-price{
    font-weight: 400;
}
.pass-info{
    width: 100%;
    background-color: #FF6B00;
    box-sizing: border-box;
    padding: 15px 30px;
}
.pass-inner-info{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.41);
}
.pass-inner-info-text, .pass-inner-info-price{
    color: white;
    font-size: 18px;
}
.pass-inner-info-price{
    font-weight: 600;
}
.pass-start{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.pass-start-input{
    width: 100%;
    height: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.764);
    outline: none;
    border: none;
    padding: 15px;
}
.buy-pass-btn{
    background-color: #FF6B00;
    border-radius: unset;
    color: white;
    font-size: 20px;
    padding: 5px 30px;
}
.buy-pass-btn:hover{
    background-color: #FF6B00;
    color: #232323;
}

#contactus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: gold; */
}


@media screen and (max-width: 1124px) {
    #offert{
        grid-template-columns: auto auto;
    }
    #signin{
        background-position: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 991.11px) {
    .navbar{
        background-color: rgb(255, 255, 255);
        flex-direction: column;
    }
    .navbar-icon-fa{
        color: #232323;
        font-size: 30px;
    }
    .col-nav{
        display: flex;
        gap: 20px;
    }
    .main-btn{
        background-color: #FF6B00;
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav-link{
        color: #232323;
    }
    .brand-name{
        color: #232323;
        font-size: 40px;
    }
}
@media screen and (max-width: 764px) {
    .main-title{
        font-size: 58px;
    }
    #offert{
        grid-template-columns: auto;
    }
}