.navbar{
    background: #ffffff0a;
    position: fixed;
    width: 100%;
    padding: 15px 10px;
}
.main-btn{
    background-color: #FF6B00;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-link{
    color: white;
}
.brand-name{
    color: white;
    font-size: 40px;
}
#home{
    background: url('/public/images/headerbackground.png') center center/cover no-repeat; /* Zmien 'sciezka/do/tla.jpg' na ścieżkę do Twojego obrazu */
    color: white; /* Kolor tekstu na tle obrazu */
    text-align: center;
    padding: 100px 0; /* Dodatkowy padding dla lepszego wyglądu */
    min-height: 100vh;
}
.main-title{
    font-size: 82px;
}
.inner-main-text{
    color: #FF6B00;
}
.sign-up-btn{
    border-radius: unset;
    font-size: 32px;
    padding: 10px 40px;
    color: white;
}
.sign-up-btn:hover{
    background-color: #FF6B00;
    color: #232323;
}
#offert{
    min-height: 100vh;
}
.card-row{
    display: flex;
}
.card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
    position: relative;
    background-color: #1E1E1E;
}
.read-more-btn{
    background-color: #FF6B00;
    font-size: 20px;
    padding: 5px 35px;
    border-radius: unset;
    color: white;
}
.read-more-btn:hover{
    background-color: #FF6B00;
}
.FontAwesomeIcon{
    color: white;
    font-size: 64px;
}
.card-background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
}
.card-photo{
    width: 100%;
    height: 100%;
    filter: brightness(30%);
}
.card-wrapper:hover .card-background{
    opacity: 100%;
}
#signin{
    background-image: url('/public/images/image\ 2.png');
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding: 45px 60px;
}
.offert-text{
    font-size: 64px;
    color: white;
}
.pass-wrapper{
    background-color: #0000008d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    padding: 30px 0;
    backdrop-filter: blur(5px);
}
.pass-title{
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    color: white;
}
.pass-inner-title{
    color: #FF6B00;
}
.pass-price{
    font-size: 48px;
    font-weight: 600;
    color: white;
}
.pass-inner-price{
    font-weight: 400;
}
.pass-info{
    width: 100%;
    background-color: #FF6B00;
    box-sizing: border-box;
    padding: 15px 30px;
}
.pass-inner-info{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.41);
}
.pass-inner-info-text, .pass-inner-info-price{
    color: white;
    font-size: 18px;
}
.pass-inner-info-price{
    font-weight: 600;
}
.pass-start{
    width: 75%;
}
.pass-start-input{
    width: 100%;
    height: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.764);
    outline: none;
    border: none;
    padding: 15px;
}
.buy-pass-btn{
    background-color: #FF6B00;
    border-radius: unset;
    color: white;
    font-size: 20px;
    padding: 5px 30px;
}
.buy-pass-btn:hover{
    background-color: #FF6B00;
    color: #232323;
}