body{
    background-color: #000000 !important;
    background-image: url('/public/images/thumb-1920-692043.jpg');
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.btn-main{
    background-color: #FF6B00;
    color: white;
}
.btn-main:hover{
    background-color: #c75300;
}
.card-body{
    background-color: #23232356 !important;
    backdrop-filter: blur(10px);
}
.card{
    background-color: transparent !important;
}
.card-img-top{
    overflow: hidden !important;
}
.user-list{
    background-color: #23232356 !important;
    backdrop-filter: blur(10px);
}
.product-description{
    white-space: nowrap; /* Zapobiega zawijaniu tekstu */
    overflow: hidden;    /* Ukrywa tekst, który wychodzi poza komórkę */
    text-overflow: ellipsis; /* Dodaje "..." na końcu tekstu, który jest ukryty */
    max-width: 200px;
}

.table{
	width: 100%;
	border-collapse: collapse;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}

.table th{
	background-color: #FF6B00;
	color:#ffffff;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

.user-image{
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 100%;
}


@media(max-width: 880px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
    .mob-id{
        background-color: #FF6B00 !important;
    }
    .product-description{
        max-width: 100%;
    }
    .user-image{
        width: 120px;
        height: 120px;
    }
}